crewai
crewai-tools
langchain-openai
langchain-community
pypdf
python-dotenv
spacy
sumy
fastapi
uvicorn
streamlit
pymongo
sentence-transformers
chromadb
faiss-cpu
openai
pydantic
httpx
passlib[bcrypt]
pyjwt
cryptography
PyPDF2